<html>
<head>
	<title>Neo Shopping</title>
	<meta charset="utf-8" />
	<link th:href="@{/stylesheets/bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<header th:replace="layout/open_header :: header"></header>
	
	<div layout:fragment="body"></div>
	
	<footer th:replace="layout/open_footer :: footer"></footer>
	
	<!-- JS -->
	<script th:src="@{/javascripts/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/javascripts/bootstrap.min.js}" type="text/javascript"></script>
	<th:block layout:fragment="scripts"></th:block>
</body>
</html>