<html layout:decorator="layout/admin_layout" th:with="activeTab='products'">
<section layout:fragment="body" class="container">
	<h1 class="text-center">Product List</h1>
	<div class="alert alert-success" th:if="${not #strings.isEmpty(message)}">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span class="glyphicon glyphicon-ok"></span>
		<span th:text="${message}"></span>
	</div>
	<table class="table table-striped table-bordered table-hover table-condensed">
		<thead>
			<th class="text-center">Name</th>
			<th class="text-center">Price</th>
			<th class="text-center">Category</th>
		</thead>
		<tbody>
			<tr th:each="product : ${products.getContent()}">
				<td class="text-center"><a th:href="@{/admin/products/{id}(id = ${product.id})}" th:text="${product.name}"></a></td>
				<td class="text-center" th:text="${product.price}"></td>
				<td class="text-center" th:text="${product.category.name}"></td>
			</tr>
		</tbody>
	</table>
	<th:block th:replace="layout/page :: pages_bootstrap(${products},'/admin/products')"></th:block>
</section>
</html>