<html layout:decorator="layout/admin_layout" th:with="activeTab='categories'">
<section layout:fragment="body" class="container">
	<h1 class="text-center">Show Category Information</h1>
	<article class="jumbotron">
		<label>Name</label>
		<p th:text="${category.name}"></p>
		<label>Description</label>
		<p class="text-justify break" th:text="${category.description}"></p>
		<label>Quantity of products</label>
		<p th:text="${category.products.size()}"></p>
		<div class="btn-group btn-group-lg">
			<a th:href="@{/admin/categories}" class="btn btn-info">Back</a>
			<a th:href="@{/admin/categories/edit/{id}(id = ${category.id})}" class="btn btn-warning">Edit</a>
			<button class="btn btn-danger" data-toggle="modal" data-target="#delete-category">Delete</button>
			
			<div id="delete-category" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
       						<h4 class="modal-title">Are you sure about deleting this category?</h4>
						</div>
					    <div class="modal-body">
					    	<div class="row">
					    		<div class="col-sm-offset-8 col-sm-2">
						      		<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
							  	</div>
							  	<div class="col-sm-2">
								  <form method="POST" th:action="@{/admin/categories/delete/{id}(id=${category.id})}">
							      	<input type="hidden" name="_method" value="DELETE" />
							      	<button type="submit" class="btn btn-danger">Delete</button>
							      </form>
							 	</div>
					     	 </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
</html>